<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <input id="id" name="id" th:value="${genColumns.id}"
                               type="hidden">
                                                                                                                                        <div class="form-group">
                                    <label class="col-sm-3 control-label">Nama Tabel: </label>
                                    <div class="col-sm-8">
                                                                                    <input readonly id="tableName" name="tableName" class="form-control"
                                                   th:value="${genColumns.tableName}"
                                                   type="text">
                                        


                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Nama kolom: </label>
                                    <div class="col-sm-8">
                                                                                    <input readonly id="columnName" name="columnName" class="form-control"
                                                   th:value="${genColumns.columnName}"
                                                   type="text">
                                        


                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Jenis kolom: </label>
                                    <div class="col-sm-8">
                                                                                    <input readonly id="columnType" name="columnType" class="form-control"
                                                   th:value="${genColumns.columnType}"
                                                   type="text">
                                        


                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Memetakan tipe java: </label>
                                    <div class="col-sm-8">
                                                                                    <input readonly id="javaType" name="javaType" class="form-control"
                                                   th:value="${genColumns.javaType}"
                                                   type="text">
                                        


                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Catatan kolom: </label>
                                    <div class="col-sm-8">
                                                                                    <input readonly id="columnComment" name="columnComment" class="form-control"
                                                   th:value="${genColumns.columnComment}"
                                                   type="text">
                                        


                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Sortir kolom (urutan menaik): </label>
                                    <div class="col-sm-8">
                                                                                    <input readonly id="columnSort" name="columnSort" class="form-control"
                                                   th:value="${genColumns.columnSort}"
                                                   type="text">
                                        


                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Nama label kolom: </label>
                                    <div class="col-sm-8">
                                                                                    <input readonly id="columnLabel" name="columnLabel" class="form-control"
                                                   th:value="${genColumns.columnLabel}"
                                                   type="text">
                                        


                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Jenis tampilan halaman: 1, kotak teks 2, kotak drop-down 3, nilai 4, tanggal 5, bidang teks 6, teks kaya 7, unggah gambar [satu file] 8, unggah gambar [banyak file] 9, unggah file [tunggal file] 10. Unggah file [beberapa file]: </label>
                                    <div class="col-sm-8">
                                                                                    <input readonly id="pageType" name="pageType" class="form-control"
                                                   th:value="${genColumns.pageType}"
                                                   type="text">
                                        


                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Apakah wajib: </label>
                                    <div class="col-sm-8">
                                                                                    <input readonly id="isRequired" name="isRequired" class="form-control"
                                                   th:value="${genColumns.isRequired}"
                                                   type="text">
                                        


                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Digunakan saat halaman ditampilkan sebagai drop-down, jenis kamus diambil dari tabel kamus: </label>
                                    <div class="col-sm-8">
                                                                                    <input readonly id="dictType" name="dictType" class="form-control"
                                                   th:value="${genColumns.dictType}"
                                                   type="text">
                                        


                                    </div>
                                </div>
                                                                        </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
</body>
</html>
