spring:
  profiles:
    include: [common-dev]


pic:
  save:
    type: 1 #Metode penyimpanan gambar, 1 jangan simpan, gunakan gambar jaringan yang dirayapi, 2 simpan di media penyimpanan Anda sendiri
    storage: local #Media penyimpanan, lokal: lokal, OSS: Alibaba Cloud Object Storage, fastDfs: sistem file terdistribusi
    path: /pic/localPic  #Jalur penyimpanan gambar



#Konfigurasi kumpulan konten
thread:
  pool:
    #Jumlah kumpulan utas inti
    core-pool-size: 10
    #Jumlah maksimum kumpulan utas
    maximum-pool-size: 20
    #Thread timeout (detik)
    keep-alive-time: 10
    #Ukuran antrian
    queue-size: 100