

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common_head(~{::title},~{::meta},~{::link},~{})">
    <title th:text="'Hak Cipta - '+${application.website.name}"></title>
    <meta name="keywords" content="Hak Cipta, Novel, Jaringan Novel, Novel Romantis, Novel Urban, Novel Fantasi, Novel Silang, Novel Remaja, Novel CEO, Novel Internet, Novel Gratis, Novel Lengkap, Sastra Internet Asli" />
    <meta name="description" th:content="${application.website.name}+'Novel diperbarui setiap hari untuk serialisasi novel, peringkat novel, menyediakan novel roman, novel urban, novel fantasi, novel cross, novel remaja, novel kaya CEO, novel online, novel gratis, novel lengkap, novel pertama, pembacaan novel gratis dari bab-bab terbaru, Semua keseruan'+${application.website.name}+'Fiksi! '" />
    <link rel="stylesheet" href="/css/about.css"/>
</head>
<body class="body">

<div th:replace="common/top :: top('')">
</div>
<div class="main box_center cf">
    <div class="userBox cf">
        <div class="my_l">
            <ul class="log_list">

                <li><a href="/about/default.html">Tentang Kami</a></li>
                <li><a href="/about/contact.html">Kontak</a></li>
                <li><a href="/about/user_agreement.html">Persetujuan Pengguna</a></li>
                <li><a class="on" href="/about/copyright.html">Hack Cipta</a></li>
                <li><a href="/about/submission.html">Submisi</a></li>
                <li><a  href="/user/feedback.html">Feedback</a></li>
            </ul>
        </div>
        <div class="my_r">
            <div class="aboutBox">
                <h2>Pemberitahuan Hak Cipta</h2>
                <div class="about_info">
                    <p>Hak cipta dan penafian ini adalah untuk menjamin Novel Loka（<a href="/">www.java2nb.com</a>）Tujuan awalnya adalah untuk menyediakan layanan membaca digital berkualitas tinggi tanpa gangguan kepada pengguna. Oleh karena itu, Anda disarankan untuk membaca persyaratan ini dengan cermat sebelum menerima layanan situs ini.</p>
                    <p>1. Hak cipta milik penulis asli apakah itu karya asli dari penulis residen atau artikel yang dikirimkan atau dicetak ulang oleh pembaca. Semua penggunaan harus disetujui oleh penulis asli terlebih dahulu. Jika penulis memiliki pernyataan hak cipta atau artikel tersebut adalah direproduksi dari situs lain dan dilampirkan Jika ada pernyataan hak cipta dari semua situs asli, atribusi hak cipta harus tunduk pada pernyataan terlampir. Jika ada pelanggaran hak Anda, silakan hubungi kami dan situs ini akan segera memperbaikinya.</p>
                    <p>2. Karya, topik komunitas, komentar perpustakaan, dan komentar di situs ini adalah tindakan pribadi penerbit, dan tidak ada hubungannya dengan stand ini. Itu tidak berarti bahwa kami setuju dengan pandangan dalam artikel. Jika beberapa artikel melanggar Anda hak, silakan hubungi Kami menghubungi, kami akan segera menanganinya.</p>
                    <p>3. Tanpa izin tertulis dari situs ini, tidak seorang pun diizinkan untuk mencetak ulang atau mencuri karya dari situs ini; tidak ada yang dapat menyalin atau meniru situs ini.</p>
                    <p>4. Jika Anda perlu menghubungi situs web ini karena konten pekerjaan, hak cipta, dan masalah lain, harap lakukan dalam waktu 30 hari.</p>
                    <p>5. Situs web ini menghormati hak kekayaan intelektual orang lain. Jika Anda mengonfirmasi bahwa karya Anda telah dijiplak di situs web ini dengan cara tertentu, dan bahwa tindakan tersebut melanggar undang-undang hak cipta China dan internasional, harap ajukan keluhan hak cipta ke situs web ini dan berikan dokumen pendukung serta alasan yang relevan.</p>
                    <p>6. Selain syarat layanan yang tertera di website ini: Novel Boutique House telah memperhatikan legalitas, akurasi, keaslian, kepraktisan dan keamanan semua konten di website ini (termasuk namun tidak terbatas pada informasi, konten, materi atau produk di sini). situs web), Tidak memberikan jaminan dalam bentuk apa pun, dan tidak bertanggung jawab secara hukum.</p>
                    <p>7. Anda hanya berhak untuk menggunakan dan menelusuri layanan atau halaman terkait dari situs web ini sesuai dengan instruksi dan peraturan yang jelas dari situs web ini. Tanpa izin tertulis dari Novel Boutique House atau pemegang hak terkait, setiap bagian dari situs web ini (termasuk halaman kerja, paragraf pekerjaan, konten pekerjaan, dll.) Tidak boleh dimodifikasi, didistribusikan, direproduksi, disalin, dijiplak, diperdagangkan, direproduksi, dll. Jika situs ini menentukan bahwa perilaku Anda ilegal atau berbahaya bagi kepentingan situs ini dan orang lain, ia berhak untuk memasukkan tetapi tidak terbatas pada menolak untuk memberikan layanan, menghapus akun pengguna, dan mengajukan gugatan.</p>
                    <p>8. Untuk masalah yang tidak tercakup dalam pernyataan ini, harap mengacu pada hukum dan peraturan nasional yang relevan Jika pernyataan ini bertentangan dengan hukum dan peraturan nasional, maka hukum dan peraturan nasional yang berlaku. Hak untuk mengubah dan memperbarui pernyataan ini adalah milik Novel Boutique.</p>
                </div>
            </div>
        </div>

    </div>
</div>

<div th:replace="common/footer :: footer">
</div>
<div th:replace="common/js :: js"></div>
<script src="/javascript/bookdetail.js" type="text/javascript"></script>

</body>
</html>
