

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common_head(~{::title},~{::meta},~{::link},~{})">
    <title th:text="'Submisi - '+${application.website.name}"></title>
    <meta name="keywords" content="Submisi, Novel, Jaringan Novel, Novel Romantis, Novel Perkotaan, Novel Fantasi, Novel Silang, Novel Pemuda, Novel CEO, Novel Internet, Novel Gratis, Semua Novel, Sastra Internet Asli" />
    <meta name="description" th:content="${application.website.name}+'Novel diperbarui setiap hari untuk serialisasi novel, peringkat novel, menyediakan novel roman, novel urban, novel fantasi, novel cross, novel remaja, novel kaya CEO, novel online, novel gratis, novel lengkap, novel pertama, pembacaan novel gratis dari bab-bab terbaru, Semua keseruan'+${application.website.name}+'Fiksi!'" />
    <link rel="stylesheet" href="/css/about.css"/>
</head>
<body class="body">

<div th:replace="common/top :: top('')">
</div>
<!--主体 start-->
<div class="main box_center cf">
    <div class="userBox cf">
        <div class="my_l">
            <ul class="log_list">

                <li><a href="/about/default.html">Tentang Kami</a></li>
                <li><a href="/about/contact.html">Kontak</a></li>
                <li><a href="/about/user_agreement.html">Persetujuan Pengguna</a></li>
                <li><a href="/about/copyright.html">Hak Cipta</a></li>
                <li><a class="on" href="/about/submission.html">Submisi</a></li>
                <li><a  href="/user/feedback.html">Feedback</a></li>
            </ul>
        </div>
        <div class="my_r">
            <div class="aboutBox">
                <h2>Petunjuk Kontribusi</h2>
                <div class="about_info">
                    <p>"Fiksi Butik" adalah platform situs Internet yang sedang berkembang. "Situs ini" dalam pernyataan berikut mengacu pada "Butik Fiksi".</p>
                    <p>Semua karya yang dibuat oleh penulis sesuai dengan hukum dan peraturan nasional dapat dipublikasikan atau direproduksi di situs ini dengan otorisasi, dan akan dianggap sebagai "kolom" di situs ini.</p>
                    <p>Setiap karya yang diotorisasi untuk diterbitkan atau dicetak ulang di situs ini, sesuai dengan tingkat otorisasi yang berbeda dari karya tersebut, hak cipta milik penulis atau penulis dan butik novel berbagi hak cipta. Situs ini memiliki hak untuk menerbitkan, mencetak ulang, mengeset, dan mempublikasikan karya resmi di Internet.</p>
                    <p>Setelah situs ini memverifikasi bahwa karya penulis adalah karya non-orisinal, karya tersebut akan diproses sesuai dengan peraturan terkait. Kontributor bertanggung jawab atas semua konsekuensi yang timbul dari pekerjaan tersebut.</p>
                    <p>Situs ini menolak semua karya yang melanggar undang-undang dan peraturan nasional, seperti karya yang reaksioner dan cabul, serta tidak menerbitkan karya yang melanggar moral dan etika sosial serta memiliki warna politik yang kuat.</p>
                    <p>Situs ini menolak setiap karya yang tidak sejalan dengan arah pengembangan literatur asli dari Butik Novel.</p>
                    <p>Situs ini tidak menganjurkan Anda untuk mengambil skorsing menulis, menulis pengunduran diri atau perilaku menulis lainnya yang dapat mempengaruhi keluarga normal Anda, studi, dan kehidupan kerja sebelum menerima penghasilan tetap dari remunerasi penulis.</p>
                    <p>Harap jangan mencetak ulang konten karya di situs ini tanpa izin dari penulis asli atau situs ini. Pelanggar bertanggung jawab atas tanggung jawab hukum mereka sendiri! Jika Anda ingin mencetak ulang karya asli yang diterbitkan di situs ini, Anda harus menghubungi penulis atau situs ini, dan informasi di situs ini harus disimpan saat mencetak ulang.</p>
                    <h4>Deskripsi tingkat otorisasi kerja</h4>
                    <p>Untuk menghormati hak cipta penulis dan lebih melindungi kepentingan vital penulis, setelah kolom penulis dibuka, Anda harus membuat satu pilihan untuk otorisasi hak cipta dari karya yang diterbitkan:</p>
                    <p>Publikasi pertama di situs ini: Saya berjanji bahwa saya adalah orang sah dari hak cipta karya ini, dan bahwa manuskrip ini pertama kali diterbitkan di "Rumah Butik Fiksi" dan situs web, platform, dan media koperasi "Rumah Butik Fiksi", dan Saya setuju bahwa Novel Boutique House adalah hak cipta dari manuskrip ini. Penerbit eksklusif. Sebelum pencabutan titipan ini, dipastikan naskah ini tidak akan diserahkan kepada penerbit dan media lain.Setiap hal terkait penerbitan dan pencetakan ulang naskah ini akan diwakili oleh Novel Boutique dan merekomendasikan karya ke media penerbitan lain.</p>
                    <p>Pertama kali diterbitkan di situsnya: Saya ingin menjamin bahwa saya adalah badan hukum dari hak cipta karya ini. Karya ini diotorisasi untuk situs web, platform, dan media yang bekerja sama dengan "Rumah Butik Fiksi" dan "Rumah Butik Fiksi" untuk bertukar dan menerbitkan , tanpa persetujuan penulis, Novel Boutique House tidak direkomendasikan kepada media penerbitan lain, juga tidak boleh direproduksi oleh media penerbitan lain.</p>
                    <h4>Penyangkalan</h4>
                    <p>Setiap pengguna Repost Novel Boutique House bekerja di forum komunitas Novel Boutique House tanpa izin penulis. Novel Boutique House tidak bertanggung jawab atas perilaku pengguna yang mencetak ulang, tetapi berjanji untuk menghapus posting tersebut sesegera mungkin setelah menerima keluhan dari penulis. Pengguna mengurangi poin.</p>
                    <p>Isi dari "resensi buku" dan halaman lain yang termasuk dalam sifat bahan dan pembelajaran, di bawah premis bahwa penulis tidak dapat dihubungi, butik novel menjamin bahwa itu tidak akan digunakan untuk tujuan komersial apa pun setelah dicetak ulang. Jika penulis keberatan dengan ini, dia dapat memberi tahu butik baru untuk menghapusnya.</p>
                    <p>Karena seseorang dengan niat jahat berpura-pura menjadi penulis jaringan untuk mengirimkan naskah ke situs ini, dan diterima oleh situs ini untuk memasukkan karya asli yang bukan miliknya, situs ini tidak bertanggung jawab, tetapi menjamin bahwa ketika penulis sebenarnya mengeluh, pekerjaan akan dihapus sesegera mungkin Dan akun penipu.</p>
                    <p>Novel Boutique House tidak menjamin keamanan manuskrip dari karya yang disertakan, dan penulis diminta untuk menyimpan sendiri manuskrip tersebut.</p>
                </div>
            </div>
        </div>

    </div>
</div>


<div th:replace="common/footer :: footer">
</div>
<div th:replace="common/js :: js"></div>
<script src="/javascript/bookdetail.js" type="text/javascript"></script>

</body>
</html>
