<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                                                                                                                                        <div class="form-group">
                                                                            <label class="col-sm-3 control-label">Spesialis, 0: Fiksi Pria, 1: Umum: </label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="workDirection" name="workDirection"
                                                   class="form-control"
                                                   type="text">
                                        
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label">ID Genre: </label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="catId" name="catId"
                                                   class="form-control"
                                                   type="text">
                                        
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label">Nama Genre: </label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="catName" name="catName"
                                                   class="form-control"
                                                   type="text">
                                        
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label">ID sub-genre: </label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="catChildId" name="catChildId"
                                                   class="form-control"
                                                   type="text">
                                        
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label">Nama sub-genre: </label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="catChildName" name="catChildName"
                                                   class="form-control"
                                                   type="text">
                                        
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label">Sampul novel: </label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="picUrl" name="picUrl"
                                                   class="form-control"
                                                   type="text">
                                        
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label">Judul buku: </label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="bookName" name="bookName"
                                                   class="form-control"
                                                   type="text">
                                        
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label">Nama Hero: </label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="heroName" name="heroName"
                                                   class="form-control"
                                                   type="text">
                                        
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label">Nama Heroine: </label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="ladyName" name="ladyName"
                                                   class="form-control"
                                                   type="text">
                                        
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label">Gaya kerja, 0: hewan peliharaan yang manis, 1: sadomasokisme, 2: lainnya: </label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="bookStyle" name="bookStyle"
                                                   class="form-control"
                                                   type="text">
                                        
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label">Label kerja: </label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="bookLabel" name="bookLabel"
                                                   class="form-control"
                                                   type="text">
                                        
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label">ID penulis: </label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="authorId" name="authorId"
                                                   class="form-control"
                                                   type="text">
                                        
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label">Nama penulis: </label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="authorName" name="authorName"
                                                   class="form-control"
                                                   type="text">
                                        
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label">Blurb: </label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="bookDesc" name="bookDesc"
                                                   class="form-control"
                                                   type="text">
                                        
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label">Skor: </label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="score" name="score"
                                                   class="form-control"
                                                   type="text">
                                        
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label">Status buku, 0: berlanjut, 1: selesai: </label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="bookStatus" name="bookStatus"
                                                   class="form-control"
                                                   type="text">
                                        
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label">Volume klik: </label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="visitCount" name="visitCount"
                                                   class="form-control"
                                                   type="text">
                                        
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label">Jumlah kata: </label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="wordCount" name="wordCount"
                                                   class="form-control"
                                                   type="text">
                                        
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label">Jumlah komentar: </label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="commentCount" name="commentCount"
                                                   class="form-control"
                                                   type="text">
                                        
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label">Jumlah pembelian kemarin: </label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="yesterdayBuy" name="yesterdayBuy"
                                                   class="form-control"
                                                   type="text">
                                        
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label">ID bab terbaru: </label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="lastIndexId" name="lastIndexId"
                                                   class="form-control"
                                                   type="text">
                                        
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label">Nama direktori terbaru: </label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="lastIndexName" name="lastIndexName"
                                                   class="form-control"
                                                   type="text">
                                        
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label">Pembaruan bab terakhir: </label>
                                                                        <div class="col-sm-8">
                                                                                    <input type="text" class="laydate-icon layer-date form-control"
                                                   id="lastIndexUpdateTime"
                                                   name="lastIndexUpdateTime"
                                                   onclick="laydate({istime: true, format: 'DD-MM-YYYY hh:mm:ss'})"
                                                   style="background-color: #fff;" readonly="readonly"/>
                                        
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label">Status buku, 1: berbayar, 0: gratis: </label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="isVip" name="isVip"
                                                   class="form-control"
                                                   type="text">
                                        
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label">Status, 0: Masuk, 1: Di rak:</label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="status" name="status"
                                                   class="form-control"
                                                   type="text">
                                        
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label">Diperbarui: </label>
                                                                        <div class="col-sm-8">
                                                                                    <input type="text" class="laydate-icon layer-date form-control"
                                                   id="updateTime"
                                                   name="updateTime"
                                                   onclick="laydate({istime: true, format: 'DD-MM-YYYY hh:mm:ss'})"
                                                   style="background-color: #fff;" readonly="readonly"/>
                                        
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label">Waktu dibuat: </label>
                                                                        <div class="col-sm-8">
                                                                                    <input type="text" class="laydate-icon layer-date form-control"
                                                   id="createTime"
                                                   name="createTime"
                                                   onclick="laydate({istime: true, format: 'DD-MM-YYYY hh:mm:ss'})"
                                                   style="background-color: #fff;" readonly="readonly"/>
                                        
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label">ID sumber perayapan: </label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="crawlSourceId" name="crawlSourceId"
                                                   class="form-control"
                                                   type="text">
                                        
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label">ID novel situs asal yang diambil: </label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="crawlBookId" name="crawlBookId"
                                                   class="form-control"
                                                   type="text">
                                        
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label">Waktu perayapan terakhir: </label>
                                                                        <div class="col-sm-8">
                                                                                    <input type="text" class="laydate-icon layer-date form-control"
                                                   id="crawlLastTime"
                                                   name="crawlLastTime"
                                                   onclick="laydate({istime: true, format: 'DD-MM-YYYY hh:mm:ss'})"
                                                   style="background-color: #fff;" readonly="readonly"/>
                                        
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label">Apakah pembaruan telah dihentikan, 0: tidak dihentikan, 1: dihentikan: </label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="crawlIsStop" name="crawlIsStop"
                                                   class="form-control"
                                                   type="text">
                                        
                                    </div>
                                </div>
                                                                            <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button type="submit" class="btn btn-primary">Kirim</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/wangEditor/release/wangEditor.js"></script>
<script type="text/javascript" src="/js/appjs/novel/book/add.js">
</script>
</body>
</html>
