<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
            <div class="ibox-content">
            <form class="form-horizontal m-t" id="signupForm">
                <input id="id" name="id" th:value="${book.id}"
                       type="hidden">
                                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">Spesialisasi, 0: Fiksi Pria, 1: Umum: </label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.workDirection}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">ID Genre: </label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.catId}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">Nama Genre: </label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.catName}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">ID sub-genre: </label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.catChildId}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">Nama sub-genre: </label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.catChildName}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">Sampul novel: </label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.picUrl}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">Judul novel: </label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.bookName}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">Nama hero: </label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.heroName}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">Nama heroine: </label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.ladyName}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">Gaya kerja, 0: hewan peliharaan yang manis, 1: sadomasokisme, 2: lainnya: </label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.bookStyle}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">Label kerja: </label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.bookLabel}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">ID penulis: </label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.authorId}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">Nama penulis: </label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.authorName}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">Blurb: </label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.bookDesc}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">Skor: </label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.score}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">Status buku, 0: berlanjut, 1: selesai: </label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.bookStatus}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">Volume klik: </label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.visitCount}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">Jumlah kata: </label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.wordCount}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">Jumlah komentar: </label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.commentCount}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">Jumlah pembelian bab kemarin: </label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.yesterdayBuy}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">ID bab terbaru: </label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.lastIndexId}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">Nama direktori terbaru: </label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.lastIndexName}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">Pembaruan bab terakhir: </label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.lastIndexUpdateTime}==null?null:${#dates.format(book.lastIndexUpdateTime,'dd-MM-yyyy HH:mm:ss')}">
                            </div>
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">Status, 1: berbayar, 0: gratis: </label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.isVip}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">Status, 0: Masuk, 1: Di rak: </label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.status}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">Diperbarui: </label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.updateTime}==null?null:${#dates.format(book.updateTime,'dd-MM-yyyy HH:mm:ss')}">
                            </div>
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">Waktu dibuat: </label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.createTime}==null?null:${#dates.format(book.createTime,'dd-MM-yyyy HH:mm:ss')}">
                            </div>
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">ID sumber crawler: </label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.crawlSourceId}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">ID novel situs asal yang diambil: </label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.crawlBookId}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">Waktu perayapan terakhir: </label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.crawlLastTime}==null?null:${#dates.format(book.crawlLastTime,'dd-MM-yyyy HH:mm:ss')}">
                            </div>
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">Apakah pembaruan telah dihentikan, 0: tidak dihentikan, 1: dihentikan: </label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.crawlIsStop}">
                            </div>
                        
                        

                    </div>
                                                    </form>
            </div>
        </div>
    </div>
</div>
</div>
<div th:include="include::footer"></div>
</body>
</html>
