<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
            <div class="ibox-content">
            <form class="form-horizontal m-t" id="signupForm">
                <input id="id" name="id" th:value="${author.id}"
                       type="hidden">
                                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">ID Pengguna: </label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${author.userId}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">Kode undangan: </label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${author.inviteCode}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">Nama pena: </label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${author.penName}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">Nomor ponsel: </label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${author.telPhone}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">Akun QQ atau WeChat: </label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${author.chatAccount}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">Email: </label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${author.email}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">Spesialisasi, 0: Fiksi Pria, 1: Umum: </label>

                                                    <div style="padding-top:8px" class="col-sm-8 dict-type" dict-type="work_direction"
                                 th:attr="dict-value=${author.workDirection}">
                            </div>

                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">Waktu dibuat: </label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${author.createTime}==null?null:${#dates.format(author.createTime,'dd-MM-yyyy HH:mm:ss')}">
                            </div>
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">0: normal, 1: diblokir: </label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${author.status}">
                            </div>
                        
                        

                    </div>
                                                    </form>
            </div>
        </div>
    </div>
</div>
</div>
<div th:include="include::footer"></div>
</body>
</html>
